<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Phoenix" %></h1>
  <p>Peace of mind from prototype to production</p>
</section>

<section class="row">

<%= form_for @changeset, Routes.page_path(@conn, :add_matter), fn f -> %>
  <%= select f, :name, ["提出", "共有", "報告"], value: nil %>

  <%= submit "送信" %>
<% end %>


</section>
