<form>
    <select name="name">
        <%= for name <- @names do %>
            <option value="<%= name %>"><%= name %></option>
        <% end %>
    </select>
    <input type="submit" value="選択">
</form>
