<div class="acunt">
<%= if @current_user do %>
  <div><%= @current_user.email %></div>
  <div><%= link "設定", to: Routes.user_settings_path(@conn, :edit) %></div>
  <div><%= link "ログアウト", to: Routes.user_session_path(@conn, :delete), method: :delete %></div>
<% else %>
  <div><%= link "新規作成", to: Routes.user_registration_path(@conn, :new) %></div>
  <div><%= link "ログイン", to: Routes.user_session_path(@conn, :new) %></div>
<% end %>
</div>

