<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>CuotaProto · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>

    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

    <!-- CSS Reset -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

    <!-- Milligram CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="row">
          <div class="row">
            <h3 class="column column-15 headertop cuota_img"><%= link img_tag(Routes.static_path(@conn, "/images/cuotaimg/Cuota_logo01.png")), to: Routes.page_path(@conn, :index)%></h3>
            <h3 class="column headertop cuota"><%= link "Cuota", to: Routes.page_path(@conn, :index)%></h3>
            <%= if @current_user do %>
            <h3 class="column headertop"><%= link "送信履歴", to: Routes.file_upload_path(@conn, :index)%></h3>
            <h3 class="column headertop"><%= link "送信フォーム", to: Routes.file_upload_path(@conn, :new)%></h3>
            <% end %>
            <div class="column"></div>
          </div>
            <div class="acuntmenu"><%= render "_user_menu.html", assigns %></div>
        </div>
      </div>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= @inner_content %>
    </main>
  </body>
</html>
