.root {
    --main-color: #101f3a;
}
header {
    background-color: #101f3a;
    color: #DEDEDE;
}

header a{
    color: #DEDEDE;
}
/*
header a:hover{
    color:aqua;
}
*/

header .cuota{
    font-weight: bold;
}

h3.cuota_img img{
    width: 50%;
}



.header h3.headertop{
    margin: 40px 0;
}

.acunt{
    margin-top: 20px;
}

.acuntmenu{
    display: inline !important;
}

.preview_file {
    display: flex;
    padding-top: 50px;
    flex-wrap: wrap;
}

.file img{
    width: 80px;
}


.file div{
    height: auto;
    display: flex;
}



.preview_file .text{
    position: relative;
    width: 20%;
    margin-bottom: 30px;
}

.text p{
    margin: auto 0;
}


.preview_file .text p{
    margin: auto 0;
    position: absolute;
    width: 80px;
    top: 80px;
    font-size: 12px;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.btn{
    background-color: red;
    border-color: red;
}
.btn:hover{
    background-color: blue;
}

/*
.nav{
    display: flex;
}
.nav h3{
    margin: auto 15px;
}
*/

input.text_input {
    width: 50%;
}

.formcolumn{
    margin: 20px 10px;
}

.mail_session {
    margin-top: 0;
}

table.preview {
    background-color: #eee;
    padding: 20px;
    width: 70%;
    margin: 20px auto;
    
}

table.preview th {
    text-align: right;
}

.preview_body {
    padding-top: 30px;
}

.btn-cancel {
    background-color: gray;
    border: none;
}

.btn-deliver{
    background-color: #101f3a;
    border: none;
}

.preview_content {
    margin: auto;
}

.preview_btn {
    margin: auto;
    width: 70%;
}